@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Prompt', sans-serif;

}
div{
    color:white
    background-color:black
    font: size 80px;
    
}
.border-1-radius-5{
    color:#cda833;
    background-color:#ed710a;
    border: 1px solid #ededed;
    border: radius 5px;
    margin: 2px;
    padding: 10px;
